server {
        listen 80;
        listen [::]:80;

        root {{site_folder}};
        index index.html index.htm index.nginx-debian.html;
        server_name {{domain}};

        location / {
                try_files $uri $uri/ =404;
        }
}
